/* .nav{
    display: inline-block;
} */
.logo{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.logo:hover{
   transform: scale(1.2);
}
.app{
    font-family: 'Bebas Neue', cursive;
   color: #eff2f5;
   font-weight: 700;
   font-size: 30px;
   background-color: black;
   display: inline-block;
   padding: 10px;
   margin-top: 0px;
}
/* .li2{
    margin-right: 30px;
} */
a { 
    text-decoration: none; 
    color: rgb(252, 252, 250);
    cursor: pointer;
}

a:hover {
    color: rgb(216, 216, 162);
}
.header{
   background-color: #36486b;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 85px;
   padding: 5px 10%;
}
.img{
    cursor: pointer;
}
/* li{
    display: inline-block;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
} */
.links{
    list-style: none;
}
.header .links li{
    display: inline-block;
    padding: 0 20px;
}

