@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.caja{
    position:relative;
    display: block;
    background-color: #fafafa;
    padding: 20px;
    margin:20px 0;
    -webkit-border-ra
}