@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
body{
   background:  linear-gradient(99.6deg, rgb(170, 182, 199) 10.6%, rgb(240, 242, 227) 32.9%, rgb(252, 253, 192) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
   
}


 .card{
    margin: 8px;
    display:inline-block;
    max-width: 300px;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(109.6deg, rgb(0, 37, 84) 11.2%, rgba(0, 37, 84, 0.32) 100.2%);
    border: 10px #36486b;
    transition: width 2s, background-color 1s, box-shadow 1s;
    border-radius: 10px;
    color: black;
 }
.card:hover{
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
    background-color: #618685
}
img{
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
}
.wrapper{
    max-width: 960px;
    display: inline-block;
    flex-wrap: wrap;
    margin: 20px auto;
}
a{
    text-decoration: none;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #36486b, #c4c19f);
    border-radius: 5px;
    width: 100px;
    color: white;
    font-size: 20px;
}
#name{
    color: aliceblue;
}
#exp{
    color: aliceblue;
}
#pop{
    color: aliceblue;
}