
.titulo{
    font-family: 'Bebas Neue', cursive;
   color: #36486b;
   text-align: center;
   font-weight: 700;
   font-size: 50px;
   margin-bottom: 50px;
   margin-top: 80px; 
}
.contenedor{
    max-width: 1200px;
    margin:auto;
    
}

.titulo::after{
    content: '';
    width: 100%;
    height: 6px;
    background-color: #36486b;
    display:block;
   }
.titulo3{
    font-family: 'Bebas Neue', cursive;
    color: #36486b;;
    text-align: center;
    font-size: 25px;
   
}


.campo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    
}

.container{
    max-width: 600px;
    margin: auto;
}
.boton{
    margin: 5px;
    display: inline;
    margin-top: 20px;   
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #36486b;
    border: none;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    transition: background-color .3s ease;
   
    
}
.boton:hover{
    background-color: #618685;
    cursor: pointer;
}

.botones{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.btn{
    
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #36486b;
    border: none;
    width: auto;
    border-radius: 0 10px 10px 0px;
    color: #fff;
    transition: background-color .3s ease;
}
.btn:hover{
    background-color: #618685;
    cursor: pointer;
}
.contry{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0 7.5rem;
}
.search{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    margin-top: 20px;
}
