@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
body{
   background: linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
   
   
}
 .card{
    margin: 8px;
    display:inline-block;
    max-width: 300px;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    background-color: #fefbd8;
    border: 10px #36486b;
    transition: width 2s, background-color 1s, box-shadow 1s;
    border-radius: 10px;
    color: black;
 }
.card:hover{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #618685
}
img{
    max-width: 200px;
    height: 200px;
    border-radius: 10px;
}
.wrapper{
    max-width: 960px;
    display: inline;
    flex-wrap: wrap;
    margin: 80px auto;
}
a{
    text-decoration: none;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #36486b, #c4c19f);
    border-radius: 5px;
    width: 100px;
    color: white;
    font-size: 20px;
}